@use "styles/mixins" as *;

.studioContainer {
  background-color: transparent;
  margin-top: -30px;

  @include mediumMedia {
    margin-top: -60px;
  }
  @include desktop {
    margin-top: 280px;
  }
  @include desktopLarge {
    margin-top: 380px;
  }
}

.studioWrapper {
  position: relative;
  height: inherit;
  background-color: transparent;
}

.studioTitle {
  margin-top: 0px;
  margin-left: 60px;
  background-color: transparent;
  z-index: 1;

  @include mediumMedia {
    
  }
  @include desktop {
    margin-bottom: -90px;
    margin-left: 110px;
  }
}

.studioCTAWrapper {
  position: relative;
  background-color: transparent;
}

.studioLink {
  display: block;
}

.studioCTA {
  background-color: var(--gray1);
  color: var(--black);
  border-radius: 3rem;
  padding: 1.5rem 2.5rem;
  font-size: 1.8rem;
  width: 45%;
  position: relative;
  top: 10rem;
  left: 60px;
  z-index: 1;
  text-align: center;
  font-size: 1.5rem;

  &:hover,
  &:active {
    background-color: var(--black);
    border: 0.01rem solid var(--gray1);
    color: var(--white);
    border-radius: 3rem;
  }

  @include smallMedia {
    top: 8rem;
    font-size: 1rem;
    padding: 0.8rem;
    width: 30%;
  }

  @include mediumMedia {
    top: -3rem;
    left: 25rem;
    padding: 0.3rem 0.5rem;
    font-size: 18px;
    width: 15%;
  }
}
