@use "styles/mixins" as *;

.addressContainer {
  position: relative;
  background-color: transparent;
  margin-top: 18rem;
  margin-bottom: 8rem;

  @include smallMedia {
    margin-top: 15rem;
    margin-bottom: 5rem;
  }

  @include mediumMedia {
    height: 30vh;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  @include desktop {
    height: 100vh;
  }
}

.addressWrapper {
  position: relative;
  height: inherit;
  background-color: transparent;
}

.addressTitle {
  position: absolute;
  background-color: transparent;
  top: 180px;
  left: 60px;
  z-index: 1;
  width: 15rem;

  @include smallMedia {
    width: 100%;
    top: 100px;
  }

  @include mediumMedia {
    left: 2.5rem;
  }
  @include desktop {
    width: 50%;
    left: 110px;
  }
  @include desktopLarge {
    left: 160px;
    width: 30%;
  }
}

.addressDescription {
  position: relative;
  background-color: transparent;
  top: 320px;
  left: 60px;
  z-index: 1;

  p {
    padding-bottom: 0;
  }

  @include mediumMedia {
    left: 2.58rem;
    top: 280px;
  }
  @include desktop {
    position: absolute;
    left: 110px;
    top: 260px;
  }
  @include desktopLarge {
    left: 160px;
    top: 270px;
  }
}
