@use "styles/mixins" as *;

.navbarContainer {
  text-align: center;
  position: fixed;
  top: -1px;
  width: 100%;
  padding: 3px 35px;
  z-index: 99;
  opacity: 0.83;


  @include smallMedia {
  }

  @include tablet {
    padding: 10px 55px;
    height: 60px;
  }

  @include mediumMedia {
    height: unset;
  }
}
