@use "styles/mixins" as *;

.wosContainer {
  position: relative;
  background-color: transparent;
  margin-top: 18rem;
  margin-bottom: 8rem;
  height: 5vh;

  @include smallMedia {
    margin-top: 15rem;
    margin-bottom: 5rem;
  }

  @include mediumMedia {
    height: 25vh;
    margin-top: 8rem;
    margin-bottom: 2rem;
  }
}

.wosWrapper {
  position: relative;
  height: inherit;
  background-color: transparent;
}

.wosTitle {
  background-color: transparent;
  padding-top: 100px;
  z-index: 1;
  max-width: 60%;
  margin-left: 60px;

  @include smallMedia {
    padding-top: 90px;
  }

  @include mediumMedia {
  }
  @include desktop {
    margin-left: 108px;
    max-width: 30%;
  }
  @include desktopLarge {
    margin-left: 158px;
    max-width: 20%;
  }
}

.wosDescription {
  position: absolute;
  background-color: transparent;
  top: 210px;
  left: 60px;
  z-index: 1;

  @include smallMedia {
    top: 6rem;
  }

  @include mediumMedia {
    top: 280px;
  }
  @include desktop {
    left: 110px;
    top: 270px;
  }
  @include desktopLarge {
    left: 160px;
    top: 270px;
  }
}
