@use "styles/mixins" as *;

.bottomHeroContainer {
  height: 48vh;

  @include smallMedia {
    height: 100vh;
  }

  @include mediumMedia {
    height: 48vh;
  }
  @include desktop {
    height: 120vh;
  }
}

.bottomHeroWrapper {
  position: relative;
  height: inherit;
  background-color: transparent;
}

.bottomHeroImageWrapper {
  background-color: transparent;
  position: relative;
  height: 50rem;
  width: 100%;
  top: -10rem;

  @include smallMedia {
    height: 30rem;
  }

  @include mediumMedia {
    top: -4rem;
  }
}

.bottomHeroImage {
  background-color: transparent;
  z-index: 0;
}
