@use "styles/mixins" as *;

.studiosHeaderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70vh;

  @include smallMedia {
    height: 100vh;
  }

  @include mediumMedia {
    height: 35vh;
  }
  @include desktop {
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
}
}

.studiosHeaderWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 100px;

  @include mediumMedia {
    width: 90%;
  }
  @include desktop {
    margin-bottom: 30px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.studiosHeaderTitle {
  max-width: 20%;
  h2 {
    font-size: 62px;
  }
}

.studiosHeaderTitle,
.studiosHeaderText {
  align-self: flex-start;
  margin-bottom: 2.5rem;
  margin-left: 60px;
  @include mediumMedia {
    margin-left: 0;
    margin-bottom: 30px;
  }
  @include desktop {
    align-self: center;
    margin: 0;
  }

  div {

    @include desktop {
      width: auto;
    }
  }
}

.studiosHeaderDivider {
  visibility: hidden;

  @include mediumMedia {
    visibility: visible;
    border: 0.05rem solid var(--white);
    border-radius: 1rem;
    width: 90%;
    background-color: var(--white);
  }
}
