@use "styles/mixins" as *;

.mobileMenuContainer {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
}

.mobileMenuWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: inherit;
  padding: 2rem;
  overflow-y: scroll;
}

.mobileMenuIconContainer {
  color: var(--white);
  cursor: pointer;
  margin-bottom: 1.5rem;
  @include animation(fadeIn, 2s);
}

.mobileMenuItemsContainer {
  list-style-type: none;
  width: 80%;
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: 1.5rem;

  li {
    color: var(--white);
    font-size: 2.4rem;
    @include animation(fadeIn, 2s);
  }
}

.mobileMenuLogoContainer {
  @include animation(fadeIn, 2s);
  position: relative;
  align-self: center;
  width: 20rem;
  height: 20rem;
}
