@use "styles/mixins" as *;

.textContainer {
  width: 267px;
  background-color: transparent;

  @include mediumMedia {
    width: 58vw;
  }
}

.textWrapper {
  color: var(--white);
  font-size: 18px;
  font-weight: 500;
  line-height: 29px;
  background-color: transparent;
  padding-bottom: 60px;
 

  @include smallMedia {
    font-size: 1rem;
    padding-bottom: 0;
  }

  @include mediumMedia {
    font-size: 16px;
    max-width: 500px;
  }
  @include desktop {
    padding-bottom: 40px;
    width: 100%;
  }
}
