@use "styles/mixins" as *;

.serviceDesktopContainer {
  background-color: transparent;
}

.serviceDesktopWrapper {
  background-color: transparent;
  display: flex;
  flex-direction: column;

  @include smallMedia {
    margin: 12% auto auto 7%;
  }
  @include desktop {
    margin-left: 8%;
  }
}


.serviceDesktopDescriptionContainer {
  background-color: transparent;
  color: var(--white);
  cursor: pointer;
  display: flex;
  gap: 1rem;
  width: 80%;
  margin-bottom: 3rem;
}
