:root {
  --white: #fff;
  --black: #000;
  --gray1: #d8d8d8;
  --gray2: #575757;
  --gray3: #605d5d;
  --grayStroke: #979797;
  --red: #e74747;
  --purple: #6c4fa1;
  --yellow: #e3e130;
  --gold: #c09a1f;
}
