@use "styles/mixins" as *;

.serviceContainer {
  display: flex;
  flex-direction: column;
 margin-bottom: 70px;

  @include smallMedia {
    margin-top: unset;
    margin-bottom: 140px;
  }

  @include mediumMedia {
    margin-top: 2.5rem;
  }
  @include desktop {
    margin-bottom: 180px;
  }

}

.serviceWrapper {
  position: relative;
  height: inherit;
  background-color: transparent;
}

.serviceTitle {
  background-color: transparent;
  margin-left: 60px;
  z-index: 1;

  @include mediumMedia {
    margin-left: 250px;
  }
  @include desktop {
    margin-left: 640px;
  }
}

.serviceDescription {
  background-color: transparent;
  z-index: 1;
  margin-left: 60px;
  margin-top: 20px;

  @include smallMedia {
    margin-top: 30px;
   
  }

  @include mediumMedia {
    margin-left: 250px;
    div {
      margin-bottom: 50px;
    }
  }
  @include desktop {
    margin-left: 640px;
  }
}

.serviceCTA {
  background-color: var(--gray1);
  color: var(--black);
  border-radius: 3rem;
  width: 100%;
  margin-top: 20px;
  padding: 12px 24px;
  z-index: 1;
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;

  &:hover,
  &:active {
    background-color: var(--black);
    border: 0.01rem solid var(--gray1);
    color: var(--white);
    border-radius: 3rem;
  }

  @include smallMedia {
    font-size: 1rem;
    width: 100%;
  }

  @include mediumMedia {
    line-height: 1rem;
    font-size: 18px;
    width: 164px;
  }
}
